body, html, .map, .angular-google-map, .angular-google-map-container {
  height: 100%;
}
.map {
  padding-top: 50px;
}
.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  top: 0;
  background: rgba(138, 197, 62, 0.85);
}
.credentials {
  position: relative;
  top: 9px;
}
.credentials li {
  float: left;
  margin-right: 10px;
  list-style: none;
}
.credentials li input {
  width: 200px;
  border-radius: 5px;
  border: none;
  padding: 6px 10px;
}
.credentials li button {
  border: none;
}
.btn.btn-primary {
  background: #8ac53e;
}
.btn.btn-primary:hover {
  background: #97D34B;
}
.btn:focus, .btn:active, .btn:active:focus {
  outline: none;
}


/* Spinner */

.spinner {
  margin: 0 auto;
  top: 50%;
  width: 70px;
  text-align: center;
  position: relative;
  z-index: 1001;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgba(255,255,255,0.8);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
